// Couleurs principales
$vert-anis:     #C0D000;
$bleu-sarcelle: #009688;
$saumon:        #FF7043;
$violet:        #7E57C2;
$menthe:        #66BB6A;
$framboise:     #EC407A;
$acier:         #42A5F5;
$gris-fonce:    #424242;

// Typographies
$font-sans: 'Cabin', sans-serif;
$font-serif: 'Spectral', serif;

// Breakpoints
$bp-sm: 600px;
$bp-md: 960px;
$bp-lg: 1280px;
