@use '../base/variables';

.bloc--definition {
  border-left: 4px solid variables.$acier;
  background: linear-gradient(45deg, variables.$acier 10px, transparent 10px);
  padding: 1rem;
  margin: 1rem 0;
}

.bloc--faire {
  border-left: 4px solid variables.$menthe;
  background-color: #f0fff5;
  padding: 1rem;
  margin: 1rem 0;
}

.bloc--temoignage {
  border-left: 4px solid variables.$framboise;
  background-color: #fff0f6;
  font-style: italic;
  padding: 1rem;
  margin: 1rem 0;
}

.bloc--citation {
  border-left: 4px solid variables.$violet;
  background-color: #f3f0fa;
  padding: 1rem;
  margin: 1rem 0;
}

.bloc--reference {
  border-left: 4px dashed variables.$gris-fonce;
  background-color: #eeeeee;
  padding: 1rem;
  margin: 1rem 0;
}
