.c-sidebar__footer {
  margin-top: auto;
  padding: 1rem;
  text-align: center;

  .c-sidebar__logo {
    display: block;
    max-width: 120px;
    margin: 0 auto 0.5rem auto;
  }

  .c-sidebar__version {
    font-size: 0.75rem;
    color: #666;
  }
}

